[submodule "hl2sdk-manifests"]
	path = hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests
[submodule "alliedmodders/metamod"]
	path = alliedmodders/metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "alliedmodders/hl2sdk"]
	path = alliedmodders/hl2sdk
	url = https://github.com/swiftly-solution/hl2sdk
	branch = cs2
[submodule "vendor/swiftly-ext"]
	path = vendor/swiftly-ext
	url = https://github.com/swiftly-solution/swiftly-ext
[submodule "vendor/embedder"]
	path = vendor/embedder
	url = https://github.com/swiftly-solution/embedder
